header {
    background-color: #265ABA;
    color:#2DB472;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 50px;
    background-color: #8A4B1D;
    font-family: 'bungee'; sans-serif;
}
header {
    color:#2DB472;
}
header a:hover {
    background-color: white;
    color:#8A4B1D;
}


#hero {
    position: relative;
}
#hero img {
    width: 100%;
}
#hero h1 {
    color:#265ABA;
    font-size: 125px;
    position: absolute;
    left: 35%;
    top: 10%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-family: 'Bungee', sans-serif;
}
#hero h2 {
    color:#8A4B1D;
    background-color: white;
    font-size: 50px;
    position: absolute;
    bottom: 8px;
    right: 50px;
    font-family: 'Bungee', sans-serif;
}
#hero .button-box {
    font-size: 75px;
    position: absolute;
    bottom: 8px;
    left: 8%;
    background-color: white;
    padding: 8px;
    margin: 50px;
}



main {
    background-color: #265ABA;
    padding-top: 30px;

}
main h2 {
    color: white;
    font-size: 75px;
    text-align: center;
    font-family: 'Bungee', sans-serif;

}
main p {
    line-height: 1.9em;
    font-size: 30px;
    text-align: center;
    color:white;
    font-family: 'Roboto', sans-serif;
}

#welcome-message, #about-us {
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 150px;
}

#fruit-section {
    background-color:#8A4B1D;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 200px;
    padding-left: 100px;
}
#fruit-msg {
    line-height: 3em;
    margin-right: 200px;
}
#vegetable-section {
    background-color: #A86738;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 5px 5px 10px #1F5B3E;
    padding-left: 50px;
    margin-bottom: 200px;
}
#vegetable-section p {
    line-height: 2em;
    margin-right: 50px;
}

iframe {
    width: 100%;
    height: 800px;
}


footer {
    color: #2DB472;
    padding: 25px 50px;
    display: flex;
    align-items: center;
    font-size: 25px;
    background-color: #265ABA;
}

footer a {
    background-color: #3AA7B1;
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #265ABA;
    padding: 25px 200px;

}

footer a:hover {
    background-color: green;
    color: yellowgreen;
}
